html, body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'csprajad';
    src: url('fonts/csprajad-webfont.eot');
    src: url('fonts/csprajad-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/csprajad-webfont.woff2') format('woff2'),
         url('fonts/csprajad-webfont.woff') format('woff'),
         url('fonts/csprajad-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'thdan';
    src: url('fonts/th_dan_vi_vek_bold_ver_1.03-webfont.eot');
    src: url('fonts/th_dan_vi_vek_bold_ver_1.03-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/th_dan_vi_vek_bold_ver_1.03-webfont.woff2') format('woff2'),
         url('fonts/th_dan_vi_vek_bold_ver_1.03-webfont.woff') format('woff'),
         url('fonts/th_dan_vi_vek_bold_ver_1.03-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navbar ul {
    position:fixed;
    z-index:1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(to right, orange 0%,#99460e);
    box-shadow: 0 2px 10px rgba(5, 5, 5, 0.33);
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    transition: .67s ease;
    background: #fff6a7;
    color: black;
}

#first {
    height: 0;
    width: 0;
    border-left: 36vh solid #f09d06;
    border-right: 36vh solid transparent;
    border-bottom: 36vh solid transparent;
    border-top: 36vh solid transparent;
    transform: rotate(180deg);
    position:absolute;
    top: 66.75%;
    right: 0;

}

#second {
    height: 0;
    width: 0;
    border-left: 43vh solid #e8a93f;
    border-right: 43vh solid transparent;
    border-bottom: 43vh solid transparent;
    border-top: 43vh solid transparent;
    transform: rotate(180deg);
    position:absolute;
    top: 59.25%;
    right: 0;


}

#third {
    height: 0;
    width: 0;
    border-left: 50vh solid #99460e;
    border-right: 50vh solid transparent;
    border-bottom: 50vh solid transparent;
    border-top: 50vh solid transparent;
    transform: rotate(180deg);
    position:absolute;
    top: 52.25%;
    right: 0;
}

#first3 {
    height: 0;
    width: 0;
    border-left: 36vh solid #f09d06;
    border-right: 36vh solid transparent;
    border-bottom: 36vh solid transparent;
    border-top: 36vh solid transparent;
    transform: rotate(0deg);
    position: absolute;
    top: 166.75%;
    left: 0;
}

#second3 {
    height: 0;
    width: 0;
    border-left: 43vh solid #e8a93f;
    border-right: 43vh solid transparent;
    border-bottom: 43vh solid transparent;
    border-top: 43vh solid transparent;
    transform: rotate(0deg);
    position:absolute;
    top: 159.75%;
    left: 0;
}

#third3 {
    height: 0;
    width: 0;
    border-left: 50vh solid #99460e;
    border-right: 50vh solid transparent;
    border-bottom: 50vh solid transparent;
    border-top: 50vh solid transparent;
    transform: rotate(0deg);
    position:absolute;
    top: 152.25%;
    left: 0;
}

.section1{
    margin: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    left: 0;
    background-image: radial-gradient(white, #fff7ba, #fff493 60%);
    background-color: #fff493;
    /*background-size: cover;*/
    background-repeat:no-repeat;
    /*background-position: center center;*/
  }
  
.section2{
    height: 250vh;
    width: 100%;
    background-color: #fff493;
    background-image: linear-gradient(#fff493, white);
/*    background-image: radial-gradient(white, #fff7ba, #fff493);
    background-color: #fff493;*/
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
  }

p{
    margin: 0px;
}

h1{
  position:absolute;
  top: 20%;
  right: 28%;
  /* border-bottom: 1px solid black; */
  font-size: 5.5vw;
  text-align: center;
  font-family: thdan;
}

#desc{
  position:absolute;
  top: 45%;
  right: 36%;
  margin-top: 2%;
  font-size: 1.5vw;
  text-align: center;
  font-family: csprajad;
}

.bdpichome{
    position: relative;
    animation: fade 3s;
    top: 2%;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

h2{
    position: relative;
    padding-right:1%;
    padding-left: 1%;
    border-bottom: 1px solid black;
    font-size: 3vw;
    text-align: left;
    font-family: thdan;

}

.section2 #whatis{
    top: 5%;
    left: 12%;
    width: 17%;
}

.section2 #descWh{
    position: absolute;
    top: 7%;
    left: 35.5%;
    width: 31%;
    height: 8%;
    padding-right:1%;
    padding-left: 1%;
    font-size: 1.5vw;
    text-align: left;
    padding: 2%;
    background-color: #e8a93f;
    box-shadow: 12px 12px grey;
    font-family: csprajad;
    /* leaf shape (optional)
    -moz-border-radius: 100px 0px;
    -webkit-border-radius: 100px 0px;
    border-radius: 100px 0px;*/
}

.section2 #howit{
    position: absolute;
    top: 170%;
    left: 25%;
}

.section2 #descHow{
    position: absolute;
    top: 167%;
    left: 50%;
    width: 31%;
    height: 20%;
    padding-right:1%;
    padding-left: 1%;
    font-size: 1.5vw;
    text-align: left;
    padding: 2%;
    background-color: #e8a93f;
    box-shadow: 12px 12px grey;
    font-family: csprajad;
}

#president{
    top: 215%;
    left: 23%;
}

#descPres{
    position: absolute;
    top: 212%;
    left: 50%;
    width: 26%;
    height: 26%;
    padding-right:1%;
    padding-left: 1%;
    font-size: 1.5vw;
    text-align: left;
    padding: 2%;
    background-color: #e8a93f;
    box-shadow: 12px 12px grey;
    font-family: csprajad;
}

#presImg{
    position: absolute;
    top: 1%;
    right: 7%;
}

#type{
    position: absolute;
    top: 260%;
    left: 3%;
}

#descType{
    position: absolute;
    top: 260%;
    left: 17.5%;
    width: 28%;
    height: 15%;
    padding-right:2%;
    padding-left: 2%;
    padding-top: 2.5%;
    font-size: 1.5vw;
    text-align: left;
    background-color: #e8a93f;
    box-shadow: 12px 12px grey;
    font-family: csprajad;
}