html, body{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    z-index: 10;
    position: fixed;
    height: 8vh;
    font-family: 'Roboto', sans-serif;
}

.menu{
    display: flex;
    width: 100vw;
    margin: 0;
    background-image: linear-gradient(to right, orange 0%,#99460e);
    box-shadow: 0 2px 10px rgba(5, 5, 5, 0.33);
}

.item{
    display: flex;
    align-items: center;
    padding: 0 1vw;
}

ul{
    list-style-type: none;
}

li a {
    height: 8vh;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover{
    transition: .667s ease;
    background: #fff6a7;
    color: black;
}


#section1{
    background-image: linear-gradient(#fff493, white);
    height: 150vh;
    margin: 0;
    padding: 0;
}

#title{
    position: absolute;
    top: 10%;
    left: 2%;
    margin: 3%; 
    font-size: 4.5vw;
    text-align: center;
    font-family: thdan;
    text-align: left;
    line-height: 92.5%;
}

@font-face {
    font-family: 'csprajad';
    src: url('../fonts/csprajad-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'thdan';
    src: url('../fonts/th_dan_vi_vek_bold_ver_1.03-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}

#box{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 220vh;
    position: absolute;
    top: 45%;
    margin: 5%;
    border: 0.5vw solid #99460e;
    background-color: #e8a93f;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    background-image: radial-gradient(#fff493, #e8a93f 90%)
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

th, td{
    width: 7vw;
    height: 8vh;
}

#calendar{
    font-family: csprajad;
    font-size: 1vw;
    position: absolute;
    margin: 5%;
    margin-bottom: 2%;
    padding-left: 13%;
    bottom: 2%;
}

h2{
    height: 10%;
    padding-right:1%;
    font-size: 3vw;
    font-family: thdan;
    margin: 3%;
}

#howto{
    margin-top: 7%;
}

#descHowto{
    position: relative;
    font-size: 1.33vw;
    font-family: csprajad;
    margin: 2%;
    margin-top: 4%;
    padding: 1.2%;
    border-radius:20px 20px 20px 20px;
    -moz-border-radius:20px 20px 20px 20px;
    -webkit-border-radius:20px 20px 20px 20px;
    background: #fff493;
    right: 0.2%;
    width: 45vw;
    height: 17vh;
    border: 0.2vw solid #99460e;

}

#daylist{
    position: absolute;
    top: 15%;
    padding-left: 5%;
    font-size: 3.5vw;

}

#descDay{
    position: absolute;
    top: 14%;
    left: 41%;
    font-size: 1.33vw;
    font-family: csprajad;
    margin: 2%;
    padding: 1.2%;
    border-radius:20px 20px 20px 20px;
    -moz-border-radius:20px 20px 20px 20px;
    -webkit-border-radius:20px 20px 20px 20px;
    background: #fff493;
    right: 0.2%;
    width: 45vw;
    height: 17vh;
    border: 0.2vw solid #99460e;
}

.ld{
    font-size: 1.73vw;
    font-family: csprajad;
    color: white;
    padding: 1%;
    margin: 1%;
    text-align: center;
    border-radius: 8px;
    background-color: #F69D01;
    height: 1%;
    width: 20%;
    transition: box-shadow 0.3s ease-in-out;

}

.ld:hover{
    box-shadow: 0 10px 20px rgba(255,208,0,10);
    transition: .667s ease;
    background: #fff6a7;
    color: black;
}

.ld:hover::after {
  opacity: 1;
}


#listofday{
    position: absolute;
    display: flex;
    width: 90%;
    margin: 5%;
    top: 32.5%;
}


#daymenu{
    position: absolute;
    top: 30%;
    margin-left: 40%;
    margin-right: 40%;
}